@import './Root.module.css';

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
  }

  @media (max-width: 600px) {
    .app {
      font-size: 14px;
    }
  }