@import "./Root.module.css";

* {
  color: var(--text-primary);
  background-color: none;
}

.searchButton,
.cartButton,
.addToCart {
  background: none;
  border: none;
}

.cartButton img,
.searchButton img {
  width: 30px;
  height: 30px;
}

.searchButton:hover,
.cartButton:hover,
.addToCart:hover,
.toggleTheme:hover {
  cursor: pointer;
}

.toggleTheme {
  transition: spin 0.5s ease-in-out;
}

.cartButton.active::after {
  position: relative;
  display: inline-block;
  content: "★";
  color: var(--text-secondary);
  bottom: 40px;
  height: 1rem;
}

.addToCart {
  width: 100%;
  border-radius: 4px;
  font-size: 0.8rem;
  background-color: var(--text-secondary);
  color: var(--background);
  padding: 2px 4px 2px 4px;
  margin-bottom: 8px;
}

.searchCollection {
  background-color: var(--text-secondary);
  color: white;
  border: none;
}

.cartBadge {
  position: relative;
  bottom: 40px;
  right: -7px;
  background-color: var(--accent);
  color: var(--text-secondary);
  border-radius: 10px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--text-primary) 1px solid;
  font-size: 9px;
  font-weight: bold;
}

.productControls {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 4px;
}

.addToCartContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

button:hover {
  transform: scale(1.1);
}

.removeFromCartButton {
  background-color: red;
  font-size: 0.8rem;
  color: var(--background);
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  border: none;
}

.removeFromCartButton:hover {
  cursor: pointer;
}

.inCartNotif {
  color: var(--text-secondary);
  position: relative;
  top: -24px;
  align-self: flex-end;
}

.icon {
  width: 16px;
  height: 16px;
  filter: opacity();
}

.disabled {
  background-color: var(--disabled);
}

.disabled:hover {
  transform: scale(1);
  cursor: default;
}
