@import './Root.module.css';

* {
    color: var(--text-primary);
    background-color: none;
}

.searchButton, .cartButton, .addToCart, .toggleTheme {
    background: none;
    border: none;
}

.searchButton:hover, .cartButton:hover, .addToCart:hover, .toggleTheme:hover {
    cursor: pointer;
}

.cartButton.active::after {
    position: relative;
    display: inline-block;
    content: '★';
    color: var(--text-secondary);
    bottom: 40px;
    height: 1rem;
}

.addToCart {
    font-size: 0.8rem;
    background-color: var(--background-color);
    border-radius: 50px;
    border: 1px var(--text-primary) solid
}

.searchCollection {
    background-color: var(--text-secondary);
    color: white;
    border: none;
}
