@import './Root.module.css';

.cardImg {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(119, 136, 153, 0.319);
    border-radius: 4px;
    margin-left: 8px;
}

.card {
    display: grid;
    grid-template-columns: auto auto;
  }

.cardInfo {
    justify-content: center;
    display: grid;
    gap: 16px;
    justify-content: flex-end;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-areas: "title price qty total";
    align-items: center;
    padding-right: 16px;
}

.titleContainer {
    grid-area: title;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    margin-left: 4px;
    font-size: 14px;
}

.titleContainer p {
    /* available on chrome */
 text-wrap: pretty; 
}

.quantityControls {
    grid-area: qty !important;
}

.priceTotalContainer {
    grid-area: total;
    
}

.priceTotalContainer p {
    text-align: right;
}


.priceContainer {
    grid-area: price
}

.cardInfo p:first-child {
    justify-self: flex-start;
}

.cardInfo > div {
    order: 1;
}

.cardInfo p {
    max-width: 8rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media screen and (max-width: 580px) {
    body {
      font-size: 14px; /* Adjust font size for smaller screens */
    }

    .card {
        display: flex;
        gap: 8px;
        flex-direction: column; 
        align-items: center;
    }

    

    .cardInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
        margin: 0px;
        align-items: center;
    }

    .titleContainer {
        width: auto;
    }

    .priceTotalContainer {
        align-self: flex-end;
        justify-self: flex-end;
    }
  }


@media screen and (max-width: 768px) {
    body {
      font-size: 16px; /* Adjust font size for smaller screens */
    }

    .cardInfo {
        white-space: wrap;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
      width: 90%; /* Adjust container width for tablets */
    }
  }
  
  @media screen and (min-width: 1025px) {
    header {
      background-color: #333; /* Change header background color for larger screens */
    }
  }
  

  .thumbnail {
    max-width: 42px;
    max-height: 42px;
    aspect-ratio: 1 / 1;
  }

  .thumbnail:hover {
    transform: scale(1.05);
  }