@import "./Root.module.css";

.featuredPanel {
  position: relative;
  display: flex;
  background-image: url("../assets/icons/pawel-czerwinski.jpg");
  min-height: 50vh;
  background-size: cover;
}

.link {
  transform: skew(1deg);
  position: absolute;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  
  bottom: 8px;
  right: 8px;

  padding: 4px 8px 4px 8px;
  opacity: 0.8;
  text-decoration: none;
  border: 2px solid var(--text-primary);
  color: var(--text-primary);
}

@keyframes slideUp {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.link:hover {
  transform: scale(1.05);
  opacity: 1;
  border: var(--accent) 2px solid;
}

h2 {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--text-primary);
  background-color: transparent;
  animation: 0.2 slideUp ease-in;
}
