@import './Root.module.css';

.nav {

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    border: 1px solid black;
}

.nav a {
    color: var(--primary-color);
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.pageLinks {
    display: flex;
    gap: 1rem;
}

.actionsContainer {
    position: relative;
    background-color: transparent;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;

    width: 15%;
    justify-content: flex-end;
    align-items: center;
}

.actionsContainer button {
    width: 20%;
    height: 20%;
}
