@import './Root.module.css';

.nav {
    z-index: 200;

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid var(--text-primary);
    border-top: 2px solid var(--text-primary);
}

.nav a {
    box-sizing: border-box;
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    height: 40px;
    padding: 8px;
    margin: 0;
    align-items: center;
    justify-content: center;
    transition: background-color font-weight 1s;
    line-height: 1;
}

.currentPage {
    background-color: var(--text-secondary);
    font-weight: bold;
}

.nav a:hover {
    transition: background-color 0.5s;
    background-color: var(--text-secondary);
    font-weight: bold;
    color: var(--text-primary);
}

a:hover  a {
    background-color: var(--text-secondary);
}


.pageLinks {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.pageLinks a {
    border-radius: 2px;
    width: 60px;
    position: relative;
}

.actionsContainer {
    position: relative;
    background-color: transparent;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    gap: clamp(12px, 24px, 32px);

    width: fit-content;
    justify-content: center;
    padding-top: 4px;
    align-items: flex-start;
}

.actionsContainer button {
    width: 20%;
    height: 20%;
}

