:root {
  --background: #f8faf8;
  --background-secondary: #d5ffe431;
  --text-primary: black;
  --text-secondary: #59c9a5;
  --accent: #fffd98;
  --disabled: lightgray;
  --background-tertiary: #48e37e69;
}
[data-theme="dark"] {
  --background: #141814;
  --background-secondary: #0f1e0bd5;
  --text-primary: rgb(233, 233, 233);
  --text-secondary: #59c9a5;
  --accent: #fffd98;
  --disabled: lightgray;
}

*[data-theme="dark"] .nav img,
*[data-theme="dark"] .searchContainer img {
  filter: invert(90%) brightness(2);
}

*[data-theme="null"] .searchContainer img {
  filter: invert(90%);
}

*[data-theme="dark"] .toggleTheme {
  transform: rotate(180deg);
}

*[data-theme="dark"] .featuredPanel {
  filter: invert(90%) contrast(250%) brightness(140%);
}

*[data-theme="dark"] .featuredPanel a,
.featuredPanel h2 {
  color: var(--text-primary);
  filter: invert(90%) brightness(10%);
}

.productImg[data-theme="dark"] * {
  filter: invert(0%) brightness(50%) contrast(50%);
  transform: scale(1.1);
}

html {
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button[data-theme="dark"] {
  color: var(--text-primary);
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 4px;
}

div,
nav {
  border: none;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--text-primary);
}

#root,
header,
footer,
nav {
  transition: background-color 0.3s;
  color: var(--text-primary);
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--background);
  color: var(--accent);
}

header a {
  text-decoration: none;
}

#root {
  min-height: 100vh;
}
