:root {
    --background: white;
    --text-primary: black;
    --text-secondary: royalblue;
    --accent: purple;
  }
  [data-theme='dark'] {
    --background: black;
    --text-primary: white;
    --text-secondary: grey;
    --accent: darkred;
  }

  *[data-theme='dark'] img {
    filter: invert(100%);
  }
  
  button[data-theme='dark'] {
    color: var(--text-primary);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   #root, header, footer, nav, div {
    transition: background-color .3s;
    color: var(--text-primary);
    background-color: var(--background);
  }

  header {
    background-color: var(--background);
    color: var(--accent)
  }

#root {
    min-height: 100vh;
}