@import "./Root.module.css";

.searchContainer {
  background-color: var(--background);
  border: 1px solid var(--text-primary);
  height: 100vh;
  width: 50vw;
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 1s;

  display: flex;
  flex-direction: column;
  padding: 80px 10px 10px 20px;
  gap: 1rem;
  align-items: center;
  animation: fadeIn 0.2s ease-in-out;

  overflow-y: scroll;
}

.searchContainer::-webkit-scrollbar {
  content: "...";
}

.searchContainer * {
  color: var(--text-primary);
}

.searchInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 40px;
  width: 50%;
}

.searchInputContainer * {
  width: fit-content;
  display: flex;
}

.searchInputContainer input {
  flex: 0;
  flex-basis: 1;
  background-color: var(--background-color);
  border: 2px solid var(--text-secondary);
  color: var(--text-primary);
  font-size: 1.2rem;
  padding: 0.3rem;
}

.searchInputContainer button {
  width: fit-content;
}

.searchInputContainer button img {
  min-width: 32px;
  min-height: 32px;
}

.visuallyHidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  font-size: 2rem;
  order: -1;
}

.back {
  border: none;
  font-size: larger;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 15%;
  height: 10%;
}

.back:hover {
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0rem);
  }
  100% {
    opacity: 0;
    transform: translateX(3rem);
  }
}

@keyframes fadeOnly {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade:not(.panelWrapper) {
  animation: fadeOut 0.2s;
}

.fade.panelWrapper {
  animation: fadeOnly 0.2s;
}

.panelWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* Ensure it's above other elements */
  display: flex;
}

.cartContainer {
  padding: 8px;
  display: grid;
  gap: 8px;
  width: auto;
  min-width: 300px;
}

.cartContainer,
.cartContainer * {
  background-color: rgb(240, 240, 240);
}

.cart {
  align-items: flex-start;
}

.orderSummaryContainer {
  background-color: rgb(240, 240, 240);

  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.2s ease-in-out;
  display: grid;
  gap: 8px;
  width: 100%;
}

.orderSummaryContainer div {
  width: auto;
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr 1.2fr;
  grid-template-areas: ". . . cost";
  justify-content: space-around;
  align-items: stretch;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.orderSummaryContainer div:last-child {
  padding-top: 8px;
  font-weight: bold;
  background: var(--background-tertiary);
}

.orderSummaryContainer div p:last-child {
  grid-area: cost;
  text-align: right;
}

.cartWrapper {
  padding: 8px;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.cartHeaders {
  background-color: rgb(240, 240, 240);
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 2fr 0.9fr 0.6fr 1fr;
  grid-template-areas: "item price quantity total";
  justify-content: flex-end;

  flex-direction: row;
  animation: fadeIn 0.2s ease-in-out;

  width: 100%;
  min-width: 300px;
}

.cartHeaders {
  width: 100%;
}
.cartHeaders p:last-child {
  justify-self: flex-end;
  margin-right: 16px;
}

.cartHeaders p:first-child {
  justify-self: center;
}

@media screen and (max-width: 580px) {
  .cartContainer * {
    font-size: 12px;
  }
  .cartHeaders {
    display: none;
  }

  .quantity {
    display: none;
  }

  .price {
    grid-area: price;
  }

  .cartHeaders p:first-child {
    grid-area: item;
  }

  .cartHeaders p:last-child {
    grid-area: total;
  }
  .cartContainer {
    min-width: 0px;
  }
}

@media screen and (max-width: 768px) {
  .searchContainer {
    width: 90vw;
  }
  .cart {
    width: clamp(80vw, 90vw, 100vw);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .searchContainer {
    width: 80vw; /* Adjust container width for tablets */
  }
}

@media screen and (min-width: 1025px) {
  .searchContainer {
    width: 70vw;
  }
}
