@import './Root.module.css';

.shoppingPage {
    display: flex;
    flex-direction: column;
    min-height: 80vh;

    gap: 20px;
    padding: 20px;
}

h2 {
    align-self: center;
}

.gallery {
    display: grid;
    flex-basis: 0;
    flex: 1;
    padding: 10px;

    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr ) );

}


.product {
    justify-self: center;
    display: flex;
    flex-direction: column;

    background-color: rgba(119, 136, 153, 0.249);
}


.productInfo p:first-child {
    grid-area: info;
}

.productInfo p:last-child {
    grid-area: info;
}


.productControlsContainer {
    grid-area: buy;
}


.productInfo div {
    grid-area: buy;
    border: none;
}

.imgOverlay {
    z-index: 0;
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.imgOverlay .decoration {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.imgOverlay:hover, .contentDecoration {
    opacity: 1;
}

.descriptionContainer {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.imgOverlay:hover .descriptionContainer{
    top: 50%;
    left: 50%;
    opacity: 1;
  }


@media screen and (max-width: 599px) {
    .image {
        max-width: 180px;
        max-height: 120px;
      }
  }
  
  @media screen and (min-width: 700px) and (max-width: 959px) {
    .image {
        max-width: 300px;
        max-height: 200px;
      }
  }
  
  @media screen and (min-width: 960px) {
    .image {
        max-width: 420px;
        max-height: 280px;
      }
  }

 