@import './Root.module.css';

.shoppingPage {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-primary);
    min-height: 80vh;

    gap: 20px;
    padding: 20px;
}

h2 {
    align-self: center;
}

.shoppingPage div {
    border: 1px solid var(--text-primary);
}

.gallery {
    flex-basis: 0;
    flex: 1;
    display: flex;
    min-width: 320px;
}

.productRow {
    flex-basis: 0;
    flex: 1;
    padding: 10px;

    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr ) );
}

.product {
    justify-self: center;
  
    display: flex;
    flex-direction: column;


    border: 2px solid salmon;
}

.productInfo {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info buy";
}

.productImg {
    height: clamp(100px, 110px, 200px);
    background-color: var(--accent);
}

.productInfo div {
    grid-area: buy;
    border: none;
}

.isInCart {
    border: 3px dashed var(--accent);
}



@media screen and (max-width: 599px) {

  }
  
  @media screen and (min-width: 700px) and (max-width: 959px) {

  }
  
  @media screen and (min-width: 960px) {

  }